.Header{
    display: grid;
    grid-template-columns: 5fr 1fr 0.5fr 0.5fr 1fr;
    justify-items: start;
    align-items: center;


    .flex{
        display: flex;
        align-items: center;
    }

    .link {
        text-decoration: none;
        color: black;
      }

    .container {
        position: relative;
        display: inline-block;
    }

    .cartQuantity{
        position: absolute;
        top:0;
        right:-2px;
        background-color: red;
        border-radius: 50%;
        color: white;
        font-size: 2vmin;
    }
    margin-top: none;
    h1{
        font-size: 3vw;
    }
    
}