@import "../../scss/styles.scss";

.CategoryList {
    color: var(--text-light);
    list-style: none;
    padding: 0;
    font-size: 1.8vw;
    }
    
    ul{
        @include flex-ctr-ctr;
    }
    
    
    .CategoryList li {
    padding: .6vmin;
    margin: 0 2rem;
    text-align: center;
    border-radius: .5vmin;
    margin-bottom: .5vmin;
    }
    
    .CategoryList li:hover:not(.active) {
    cursor: pointer;
    background-color: var(--tan-3);
    color: var(--white);
    }
    
    .CategoryList li.active {
    color: var(--text-dark);
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
    }