:root {
  --white: ghostwhite;
  --tan-1: #F1FAEE;
  --tan-2: #A8DADC;
  --tan-3: #457B9D;
  --tan-4: #D3C1AE;
  --mint: #A8DADC;
  --text-light: #968c84;
  --text-dark: black;
}

*, *:before, *:after {
  box-sizing: border-box;
}

@mixin flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin buttonStyle {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: purple;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  // padding: 2vmin;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}


.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

// form {
//   display: grid;
//   grid-template-columns: 1fr 3fr;
//   gap: 1.25vmin;
//   color: var(--text-light);
// }

form {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--mint);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--text-dark);
  background-color: var(--mint);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  box-shadow: 0px 0px 2px 2px var(--tan-3);
  border-radius: .5vmin;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

 button:hover{
  color: var(--tan-3);
  // box-shadow: 0px 0px 5px 5px var(--tan-3);
  box-shadow: 0 0 20px gray;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-3);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
  
}

a:hover, a:active {
  color:black
}